<h2>All Historical Landmarks</h2>
<ul>
<% @landmarks.each do |landmark| %>
    <li>
    <p>Name:<%= landmark.name %></p>
    <p>Year Completed:<%= landmark.year_completed %> </p>
    </li>
<% end %>
</ul>

<a class="button" href="/figures">Figures</a>
<a class="button" href="/">Home</a>
