<h1><%= @figure.name %></h1>
<p>titles: <%= @figure.titles == [] ? "N/A" : @figure.titles %></p>
<p>landmarks: <%= @figure.landmarks == [] ? "N/A" : @figure.landmarks %></p>
<a href="/figures/<%= @figure.id%>/edit">Edit</a>

